<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freds Private Sodoku Puzzle</title>
    <link rel="stylesheet" href="../static/sodoku.css">
</head>
<body>
    <h1>Freds Private Sodoku Puzzle</h1>
    <h2 id="message">------------</h2>
    <div id="board"></div>
    <button id="solve">Solve</button>
    <button id="generate">Generate New Puzzle</button>
    <script src="../static/shits.js"></script>
</body>
</html>
